<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>

	<%include templates/css-extras-complement%>
	<link rel="stylesheet" type="text/css" href="./about.css">
</head>
<body>
	<%include templates/new_menu%>	
	<%include templates/login%>

	<div class="color-overlay">
		
	<div class="container py-5">
		<div class="row py-5">
			<div class="col-md-6" id="cards">
				<div class="card py-2 text-light" id="scroll">
					<div class="card-title px-4">
						<h1><i class="fas fa-bookmark"></i> INFORMACION</h1>
						<hr>
					</div>
					<div class="card-body text-left">
						<article>
							
						<h4 class="">CODE_CAMP<span class="badge">.ATM</span></h4> 
						<p>Es iniciado como un proyecto escolar para el centro educativo <br><code>Jose Fco. Bobadilla</code> en la materia de <code><code><code>DESARROLLO Y ADMINISTRACION DE APLICACIONES INFORMATICAS</code></code></code> por el estudiante <code>Leonibel SR</code>.</p>
						<br>
						<p>Pd: Este proyecto seguira en linea. Y cada mes se haran estadiaticas de uso y trafico para verificar la rentavilidad del sitio. Tambien te pedimos que votes en las encuestas sobre las tecnologias web mas usadas a si tendremos una informacion mas precisa sobre este tema.</p>

						</article>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card py-2 text-light ">
					<div class="card-title px-4">
						<h1>Descripcion del proyecto</h1>
						<hr>
					</div>
					<div class="card-body text-left">
						<h4 class="">CODE_CAMP<span class="badge">.ATM</span></h4> 
						<p>Es una plataforma de preguntas y respuestas enfocadas principalmente al desarrollo web. Desarrollada por un pequeño equipo de programadores desde 2020.</p>

						<p>
							
						</p>
					</div>
				</div>

				<div class="frame none">
					<iframe src="http://localhost:1818/home" width="100%" height="800" scrolling="yes"></iframe>
				</div>
			</div>
			
		</div>
	</div>
</div>

<script type="text/javascript" src="./MOSTRAR_MAS.JS"></script>
</body>
<%include templates/footer%>
</html>