<!-- MENU  	 -->

<style type="text/css">
	.bag:nth-child(2){
		background:rgba(0,0,0,.7);
		border-bottom: rgba(0,0,0,.3);
	}

	/*.menu .menu-item, .menu a{
		border-radius: 9px;
		padding-right: 8px;
		padding-left: 8px;
		color: rgb(12, 13, 14);
		text-decoration: none; background-color: rgb(228, 230, 232);
	}*/
	
</style>

<%if(title !== 'FORO' && title !== null){%>
<div class="container">
	<div class="row bag fixed-top">
		<div class="col-md-12">
			<div class="container">
				<div class="brand">
					<a href="/">
					<img src="logo2.png" class="align-self-center">
					</a>
				</div>
				<div class="menu ml-auto">
					<nav class="">
						<ul class="nav nav-pills">		
							<li class="active">
								<a href="/" class="menu-item">
								INICIO
								</a>
							</li>

							<li class="btn btn-primary" style="border-radius: 0;">
								<a href="/foro" class="menu-item">
								FORO<span class="badge">Q&A</span>
								</a>
							</li>
							
							<li>
								<a href="/login#s1" class="menu-item">[LOGIN]</a>
							</li>

							<li>
									<a class="menu-item text-white">PROMOCIONES</a>

								<ul class="sub">
									<li><a href=""><i class="fab fa-youtube"></i> YOUTUBE</a></li>
									<li><a href=""><i class="fab fa-facebook"></i> FACEBOOK</a></li>
									<li><a href=""><i class="fab fa-github"></i> GITHUB</a></li>
								</ul>

							</li>

							<li>
								<a href="/about" class="menu-item">
								ABOUT 
							
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<%}%>


<%if(title === 'FORO' || title == null){%>
<div class="menu-foro bag py-2">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="brand logo">
					<a href="/">
					<img src="logo2.png" class="">
					</a>
					<span class="title2">CODE CAMP</span>
				</div>
			</div>

			<div class="col-md-3 ml-auto">
				<ul class="nav">
					<li class="btn-r">
						<a href="/"><i class="fas fa-building"></i> HOME</a>
					</li>
					<li class="btn-r ml-2">
						<a href="/add">[WRITE A POST]</a>
					</li>

				</ul>
			</div>
			<div class="col-md-7 mt-2 ml-auto">
				<form action="/test" method="post">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text serch">
								<button class="search-btn">
									<span>SEARCH</span>
									<i class="fas fa-search"></i>
								</button>
							</div>
						</div>
						<input type="text" name="search" class="form-control input-search" placeholder="Exam: [TAG...]">
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
<!-- <script type="text/javascript" src="./open-form.js"></script>
<script type="text/javascript" src="./close-form.js"></script> -->
<%}%>
<!-- MENU -->